.nav ul {
  list-style: none;
  margin: 0 1rem;
  padding-bottom: 0.5rem;
  display: flex;
}

.nav li {
  margin: 0 0.5rem;
}

.nav a {
  text-decoration: none;
  color: white;
  transition: 3ms;
}

.nav a:hover,
.nav a:active {
  color: #ffffff;
  font-weight: 700;
}

@media screen and (min-width: 480px) {
  .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .nav li {
    margin: 0;
    margin-left: 2rem;
  }
}